**/__*__
**/*__pycache__*
**/*~
**/.*
**/#*#

aman.egg-info
ama.egg-info/*
ama/test/*
env/*
**/*.slurm
test/*
build/*
dist/*
**/attach.sh
**/*.sh
**/slurm-*.out
**/incremental_attack.py
**/incremental_masks.txt
**/mask_attack.py
