*.txt
*.bkp
*.stats
*.masks
*.hash
.*

**/__*__
**/*__pycache__*
**/*~
**/.*
**/#*#
**/*.slurm
**/*.sh

ama.egg-info/*
ama/test/*
env/*
test/*
build/*
dist/*

**/attach.sh
**/slurm-*.out
**/incremental_attack.py
**/incremental_masks.txt
**/mask_attack.py
ama/core/plugins/hcutils/libhcutils/*.bin
ama/core/plugins/hcutils/libhcutils/*.exe
ama/core/plugins/hcutils/libhcutils/Makefile
ama/core/plugins/hcutils/pyhcutils.c
