[submodule "docs/aman.wiki"]
	path = docs/aman.wiki
	url = git@gitlab.com:spolit/aman.wiki.git
[submodule "ama/base/CeWL"]
	path = ama/core/modules/auxiliary/wordlists/CeWL
	url = https://github.com/digininja/CeWL.git
[submodule "ama/base/cupp"]
	path = ama/core/modules/auxiliary/wordlists/cupp
	url = https://github.com/Mebus/cupp.git
[submodule "ama/base/wordlists/pydictor"]
	path = ama/core/modules/auxiliary/wordlists/pydictor
	url = https://github.com/LandGrey/pydictor.git
[submodule "ama/base/hashes/hashID"]
	path = ama/core/modules/auxiliary/hashes/hashID
	url = https://github.com/psypanda/hashID.git
