# base packages
distro
fineprint
sbash
batchgen
cmd2
tabulate
varname
psutil
argcomplete
anytree

# auxiliary module packages

## auxiliary/hashes
name-that-hash
#search-that-hash
hashid

## auxiliary/wordlists
#pydictor
cupp
#crunch-ama


## auxiliary/analysis
pack-ama
#ppack-ama

## auxiliary/passwords
random-password-generator
