# base packages
# psycopg2 need of libpq-devel.x86_64 and postgresql.x86_64 centos 8 packages
#psycopg2
fineprint
sbash
random-password-generator
cmd2
tabulate
varname
psutil

# auxiliary module packages

## auxiliary/hashes
name-that-hash
#search-that-hash
hashid

## auxiliary/wordlists
#pydictor
cupp
#crunch-ama


## auxiliary/analysis
pack-ama
#ppack-ama

## auxiliary/combinator
#mixer-ama
